html{
    font-size: 62.5%;
}

body{
    font-family: sans-serif, cursive;
        font: 1.6rem;
    background-repeat: no-repeat;
    background-size: contain;
        margin: 0;
}

h1,h2,h3,p,ul,ol,a,th,figure{
    text-decoration: none;
    margin: 0;
    list-style: none;
    padding: 0;
    font-weight: 400;
}


*{
    box-sizing: border-box;
}

#hidden-hour{
    visibility: hidden;
}

#niv-AB1AB2, #niv-C1C2, #niv-child, #niv-portu, #level-select{
    display: none;
}

section img{
    width: 70%;
    display: block;
    margin: 2rem auto 4rem;
}

.text_verification{
    display: none;
}
.text_verification{
    display: block;
    text-align: center;
    font-weight: 200;
    color: red;
}
.pageAccueil{
    padding: 1rem;
    display: block;
    margin: 15rem auto;
    width: 35rem;
}

#all-level{
    border: none;
    margin: 2rem auto;
    padding: 1rem;
}


section{
    border: .1rem solid #ccc;
    margin: 2rem auto;
    padding: 1rem;
}


form *{
    border: none;
    border: .1rem solid #ccc;
    display: block;
    width: 100%;
}

section form input{
    display: block;
    margin: 1rem auto;
    background-color: rgb(250,250,250);
    line-height: 3rem;
    width: 90%;
    border-radius: 0.3rem;
}

/* section form select{
    display: block;
    margin: 1rem auto;
    background-color: rgb(250,250,250);
    line-height: 3rem;
    width: 90%;
    border-radius: 0.3rem;
} */


form input[type=submit]{
    color: white;
    display: block;
    border: none;
    background-color: rgb(83,149,233);
    margin: 1rem auto 2rem;
    border-radius: 0.3rem;
}



.grid_android_appstore li a img{
    width:100%;
}

.grid_android_appstore{
    width: 70%;
    margin: 1rem auto;
    grid-gap:.5rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.button_block li:first-child{
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem;
}

.button_block li:last-child{
    margin-top: .5rem;
    font-size: 1rem;
    text-align: center;
    padding-bottom: 1rem;
}

.download{

    text-align: center;
    padding: 1rem;
}

.subscribe{
    padding: 1rem;

    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 1rem;
    border: .1rem solid #ccc;
}

.mainauto{
    width: 100%;
}

.welcome_div img{
    width: 20rem;
    display: block;
    margin: 0 auto;
}

.separator_grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 90%;
    margin: 0 auto;
}

.separator_grid hr{
    width: 100%;
    text-align: center;
    background-color: #ccc;

}
.separator_grid p{
    text-align: center;
}


.main_welcome{
    width: 35rem;
}

.verify{
    display: none;
}

.verifyShow{
    color: red;
    display: block;
    text-align: center;
}

@media screen and (max-width:60rem){
    
    .mainwelcome{
        width: 100%;
        display: block;
        padding: 2rem;
        margin: 0 auto;
    }
    
    
}